<div class="contenido">
  <form [formGroup]="cuestionario" (ngSubmit)="guardar()">
    <div class="izquierda">
      <fieldset>
        <legend>Pregunta</legend>
        <p>1.- A usted le gusta las peliculas de terror?</p>
        <input
          type="radio"
          id="pre1"
          name="pregunta1"
          value="No Mucho"
          formControlName="pregunta1"
        />
        <label for="pre1">No Mucho</label>

        <input
          type="radio"
          id="pre1"
          name="pregunta1"
          value="Aveces"
          formControlName="pregunta1"
        />
        <label for="pre1">Aveces</label>

        <input
          type="radio"
          id="pre1"
          name="pregunta1"
          value="Siempre"
          formControlName="pregunta1"
        />
        <label for="pre1">Siempre</label>
      </fieldset>

      <fieldset>
        <legend>Pregunta</legend>
        <p>2.- Que color de boligrafo usa?</p>
        <input
          type="radio"
          id="pre2"
          name="pregunta2"
          value="Rojo"
          formControlName="pregunta2"
        />
        <label for="pre2">Rojo</label>

        <input
          type="radio"
          id="pre2"
          name="pregunta2"
          value="Azul"
          formControlName="pregunta2"
        />
        <label for="pre2">Azul</label>

        <input
          type="radio"
          id="pre2"
          name="pregunta2"
          value="Negro"
          formControlName="pregunta2"
        />
        <label for="pre2">Negro</label>

        <input
          type="radio"
          id="pre2"
          name="pregunta2"
          value="Ninguno"
          formControlName="pregunta2"
        />
        <label for="pre2">Ninguno</label>
      </fieldset>

      <fieldset>
        <legend>Pregunta</legend>
        <p>3.- De que color es el caballo blanco de Napoleon?</p>
        <input
          type="radio"
          id="pre3"
          name="pregunta3"
          value="Negro"
          formControlName="pregunta3"
        />
        <label for="pre3">Negro</label>

        <input
          type="radio"
          id="pre3"
          name="pregunta3"
          value="Azul"
          formControlName="pregunta3"
        />
        <label for="pre3">Azul</label>

        <input
          type="radio"
          id="pre3"
          name="pregunta3"
          value="Cafe"
          formControlName="pregunta3"
        />
        <label for="pre3">Cafe</label>

        <input
          type="radio"
          id="pre3"
          name="pregunta3"
          value="Blanco"
          formControlName="pregunta3"
        />
        <label for="pre3">Blanco</label>
      </fieldset>
    </div>

    <div class="derecha">
      <fieldset>
        <legend>Pregunta</legend>
        <p>4.- Que es mas pesado 1 kilo de plumas o 1 kilo de Oro?</p>
        <input
          type="radio"
          id="pre4"
          name="pregunta4"
          value="1 kilo de Plumas"
          formControlName="pregunta4"
        />
        <label for="pre4">1 kilo de Plumas</label>

        <input
          type="radio"
          id="pre4"
          name="pregunta4"
          value="1 kilo de Oro"
          formControlName="pregunta4"
        />
        <label for="pre4">1 kilo de Oro</label>

        <input
          type="radio"
          id="pre4"
          name="pregunta4"
          value="Ninguno"
          formControlName="pregunta4"
        />
        <label for="pre4">Ninguno</label>

        <input
          type="radio"
          id="pre4"
          name="pregunta4"
          value="Son iguales"
          formControlName="pregunta4"
        />
        <label for="pre4">Son iguales</label>
      </fieldset>

      <fieldset>
        <legend>Pregunta</legend>
        <p>5.- Cuantos dedos tiene una gallina en su pata?</p>
        <input
          type="radio"
          id="pre5"
          name="pregunta5"
          value="3 Dedos"
          formControlName="pregunta5"
        />
        <label for="pre5">3 Dedos</label>

        <input
          type="radio"
          id="pre5"
          name="pregunta5"
          value="2 Dedos"
          formControlName="pregunta5"
        />
        <label for="pre5">2 Dedos</label>

        <input
          type="radio"
          id="pre5"
          name="pregunta5"
          value="4 Dedos"
          formControlName="pregunta5"
        />
        <label for="pre5">4 Dedos</label>
      </fieldset>

      <div class="verificacion">
        <div>
          <label for="verifi">
            Usted acepta que está respondiendo con sinceridad las anteriores
            preguntas
          </label>
        </div>
        <div>
          <input
            type="checkbox"
            id="faceptar"
            name="aceptar"
            formControlName="aceptar"
            required
          />
        </div>
      </div>
      <small class="advertencia" *ngIf="aceptarNoValido"
        >Debe tiquear la opcion para guardar el cuestionario</small
      >

      <div class="btn">
        <button type="submit" class="boton" [disabled]="cuestionario.invalid" (click)="mostrar = true">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
<div class="respuesta" *ngIf="mostrar">
  <p>{{ pre1 }} {{ cuestionario.value.pregunta1 }}</p>
  <p>{{ pre2 }} {{ cuestionario.value.pregunta2 }}</p>
  <p>{{ pre3 }} {{ cuestionario.value.pregunta3 }}</p>
  <p>{{ pre4 }} {{ cuestionario.value.pregunta4 }}</p>
  <p>{{ pre5 }} {{ cuestionario.value.pregunta5 }}</p>
</div>
